/* Global style */

html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Roboto Mono', monospace;
}

/* The 4 main panels */

.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: fadein 2s;
}

/* Cover fade animation*/

/* @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */

/* NAVBAR */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.0);
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

/* LANDING PAGE SECTION */

#cover_photo {
    width: 100%;
    height: 100vh;
}

#cover_photo_container {
    width: 100%;
    height: 100%;
}

#cover_photo_raw {
    width: 100%;
    height: 100%;
}

/*BACK TO TOP */
.back_to_top {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.0);
  }
  
  .back_to_top a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .back_to_top a:hover {
    background: #ddd;
    color: black;
  }

/* END LANDING PAGE SECTION */

/* SUMMARY SECTION */

#summary {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* END SUMMARY SECTION */

/* WORK SECTION */

#work {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
}

#work_photo_raw {
    width: 100%;
    height: 100%;
}

#work_photo_container {
    width: 100%;
}

/*Basic Grid Styles*/

.Grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
}

.u-textCenter {
    text-align: center;
}

.Grid-cell {
    background-color: black;
    width: 33%;
}

/*===========================================*/

/* Base classes for all media - Mobile first */

.Grid--cols-3>.Grid-cell {
    flex: 0 0 100%;
}

/* One of -- columns*/

.Grid--1of3>.Grid-cell:first-of-type {
    flex: 0 0 100%;
}

/* Tablet (medium) screens */

@media (min-width: 30em) {
    .Grid--1of3>.Grid-cell:first-of-type {
        flex: 0 0 100%;
    }
}

/* Large screens */

@media (min-width: 48em) {
    .Grid--cols-3>.Grid-cell {
        flex: 1;
    }
    .Grid--1of3>.Grid-cell:first-of-type {
        flex: 0 0 30%;
    }
}

.content-1of3::before {
    content: "1/3";
}

/* END WORK SECTION */

/* FOOTER SECTION */

#footer_container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #21edb6;
    justify-content: center;
    align-items: center;
}

/* END FOOTER SECTION */